<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Fantasy Madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks for your fantasy Madlib!</h1>
    <form action="/fantasy" method="post">
      <label for="noun">Noun</label>
      <input id="noun" name="noun" type="text">
      <label for="species">Species</label>
      <input id="species" name="species" type="text">
      <label for="adjective">Adjective</label>
      <input id="adjective" name="adjective" type="text">
      <label for="noun2">Noun2</label>
      <input id="noun2" name="noun2" type="text">
      <label for="species2">Species2</label>
      <input id="species2" name="species2" type="text">
      <label for="place">Place</label>
      <input id="place" name="place" type="text">
      <label for="action">Action</label>
      <input id="action" name="action" type="text">
      <label for="activity">Activity</label>
      <input id="activity" name="activity" type="text">
      <button type="submit">Create my very short story!</button>
    </form>
  </body>
</html>
