<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Sci-fi Madlib</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks for your Sci-fi Madlib!</h1>
    <form action="/sci-fi" method="post">
      <label for="occupation">Occupation</label>
      <input id="occupation" name="occupation" type="text">
      <label for="verb">Verb</label>
      <input id="verb" name="verb" type="text">
      <label for="occupation2">Occupation2</label>
      <input id="occupation2" name="occupation2" type="text">
      <label for="systemofgov">System of Government</label>
      <input id="systemofgov" name="systemofgov" type="text">
      <label for="species">Species</label>
      <input id="species" name="species" type="text">
      <button type="submit">Create my very short Sci-fi story!</button>
    </form>
  </body>
</html>
